---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import ListContainer from '../components/ListContainer.astro';
import ListElement from '../components/ListElement.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { getCollection, getEntry, render } from 'astro:content';

const title = `Research - ${SITE_TITLE}`;

const research = await getCollection('research');

const researchInfo = await getEntry('single', 'research');
const { Content } = await researchInfo!.render();
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<Content />

			<section>
				<ListContainer>
					{research.map(async (item) => {
						const { Content } = await render(item);
						return (
							<ListElement
								key={item.data.slug}
								data={item.data}
								Content={Content}
							/>
						);
					})}
				</ListContainer>
			</section>
		</main>
		<Footer />
	</body>
</html>
