---
import { BASE_URL } from '../consts';
import HeaderLink from './HeaderLink.astro';
import HeaderDropdown from './HeaderDropdown.astro';
---

<header>
	<nav>
		<div class='internal-links'>
			<HeaderLink href={`${BASE_URL}/`} main={true}
				>NAME SURNAME</HeaderLink
			>
			<HeaderDropdown
				label='RESEARCH'
				href={`${BASE_URL}/research`}
				items={[
					{ label: 'PUBLICATIONS', href: `${BASE_URL}/publications` },
					{ label: 'SLIDES', href: `${BASE_URL}/slides` },
				]}
			/>
			<HeaderLink href={`${BASE_URL}/projects`}>PROJECTS</HeaderLink>
			<HeaderLink href={`${BASE_URL}/contact`}>CONTACT</HeaderLink>
		</div>
	</nav>
</header>

<style>
	header {
		width: 100%;
		display: flex;
		justify-content: center;
		margin: 0;
		border-bottom: 1px solid var(--gray);
	}
	nav {
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 800px;
		max-width: calc(100% - 2em);
	}
	nav a {
		padding: 0.65em 0.8em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
</style>
